html{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    font-family:  "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-size: calc(100vw/6.4);
    /*1rem=100px*/
	font-size: -webkit-calc(100vw/6.4);
	font-size: -moz-calc(100vw/6.4);
	-webkit-text-size-adjust: 100%;
	/*页面点击链接时会出现高亮框，此代码用来解决*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*在谷歌里面，小于12号字都会直接显示为12号字，此代码解除此问题*/
    -webkit-text-size-adjust: none;
}
