@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
html{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    font-family:  "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-size: calc(100vw/6.4);
    /*1rem=100px*/
	font-size: -webkit-calc(100vw/6.4);
	font-size: -moz-calc(100vw/6.4);
	-webkit-text-size-adjust: 100%;
	/*页面点击链接时会出现高亮框，此代码用来解决*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*在谷歌里面，小于12号字都会直接显示为12号字，此代码解除此问题*/
    -webkit-text-size-adjust: none;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: 100% 100%;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page1{
	background: url(../img/bg1.png) no-repeat scroll top left;
	background-size: 100% 100%;
	position: relative;
}
.page2{
	background: url(../img/bg2.png) no-repeat scroll top left;
	background-size: 100% 100%;
	position: relative;
}
.swiper-container-horizontal>.swiper-pagination{
	/*bottom: 0.4rem;*/
}
.swiper-pagination-bullet{
	background: #fff;
	width: 10px;
	height: 10px;
}
.swiper-pagination-bullet-active{
	background: #456f93;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{
	margin: 0 10px;
}
.swiper-container-horizontal>.swiper-pagination{
	width: 20%;
	left: 40%;
	bottom: -5px;
}
.musicName,.storyName{
	color: #fff;
	font-weight: normal;
	text-align: center;
	font-size: 0.36rem;
	line-height: 1.5;
	margin-top: 0.4rem;
}
.controlList{
	width: 70%;
	position: absolute;
	bottom: 3rem;
	left: 16%;
	display: flex;
	justify-content: space-between;
}
.controlList li:nth-child(1){
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	margin-top: 0.15rem;
}
.controlList li:nth-child(2){
	width: 1.1rem;
	height: 1.1rem;
}
.controlList li:nth-child(3){
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	margin-top: 0.15rem;
}
.lastMusic1{
	background: url(../img/lastMusic.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.startStop1{
	background: url(../img/startStop2.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.nextMusic1{
	background: url(../img/nextMusic.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.lastMusic2{
	background: url(../img/lastMusic.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.startStop2{
	background: url(../img/startStop2.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.nextMusic2{
	background: url(../img/nextMusic.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.operation{
	width: 100%;
	height: 0.5rem;
	position: absolute;
	bottom: 1.3rem;
	left: 0;
	padding: 0 7%;
}
.cate{
	float: left;
	height: 0.5rem;
	width: 0.84rem;
	margin-top: 0.02rem;
}
.cate img{
	display: block;
	width: 100%;
	height: 100%;
}
.opBox{
	height: 0.5rem;
	float: left;
}
.opBox li{
	float: left;
	margin-left: 0.75rem;
	margin-top: 0.1rem;
	width: 0.46rem;
	height: 0.35rem;
}

/* .collect{
	background: url(../img/collect.png) no-repeat scroll top left;
	background-size: 100% 100%;
} */
.mode{
	background: url(../img/mode1.png) no-repeat scroll top left;
	background-size: 100% 100%;
}
.list{
	background: url(../img/list.png) no-repeat scroll top left;
	background-size: 100% 100%;
}

/*下面是音乐播放进度条的样式*/
.curtime1,.endtime1,.curtime2,.endtime2{
	color: #fff;
	font-size: 16px;
}
.box1,.box2{
	display: none !important;
	position:absolute;
	left:5%;
	bottom: 2rem;
	height: 30px;
	width: 90%;
	display: flex;
	justify-content: space-around;
	line-height: 30px;
}

.voiceBox {
	position: absolute;
	left: 5%;
	bottom: 2rem;
	width: 90%;
	height: 50px;
}

.voiceBox1 {
	transform: rotate(180deg);
	display: flex;
	display: -webkit-flex;
	bottom: 2.2rem;
}

.voiceBox ul {
	flex: auto;
	-webkit-flex: auto;
	list-style-type: none;
	height: auto;	
}

.voiceBox1 ul li {
	height: 3px;
	margin-top: 2px;
	background: rgb(137, 243, 245);
	box-shadow: 0px 1px 10px rgb(75, 236, 241);
	-webkit-box-shadow: 0px 1px 10px rgba(133, 253, 255, 0.5);
  }

.voiceBox2 ul {
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;

}

.voiceBox2 ul li {
	display: block;
	margin: 0px 2px;
	width: 2px;
	background: rgb(243, 241, 129);
	box-shadow: 3px 2px 10px rgb(255, 250, 1);
	-webkit-box-shadow: 3px 2px 10px rgba(255, 253, 144, 0.7);
}


.bar1,.bar2{
	width: 66%;
	height: 2px;
	background: #fff;
	margin-top: 14px;
	position: relative;
	border-radius: 2px;
}
.btn1,.btn2{
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	left: 0;
	top: -2px;
	background: #456f93;
}
.leftbar1,.leftbar2{
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	background: #456f93;
	border-radius: 2px 0 0 2px;
}



.btnBox{
	float: left;
	width: 1.18rem;
	height: 0.42rem;
	background-image: url(../img/slideBox.png);
	background-size: 100% 100%;
	position: relative;
	margin-top: 0.04rem;
	margin-left: 0.5rem;
}
.slideBtn{
	position: absolute;
	width: 0.55rem;
	height: 0.34rem;
	top: 0.04rem;
	left: 0.57rem;
	background-image: url(../img/slideBtnOn.png);
	background-size: 100% 100%;
}
.opMusicImg{
	display: block;
	width: 0.5rem;
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.1rem;
}
.opStoryImg{
	display: block;
	width: 2rem;
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.3rem;
}
.musicList{
	position: absolute;
	width: 100%;
	height: 6.4rem;
	background: #fff;
	z-index: 9999;
	left: 0;
	bottom: 0;
	transform: translateY(6.4rem);
	background: #517e9e;
	color: #fff;
}
.musicList >p{
	width: 100%;
	font-size: 0.3rem;
	line-height: 0.8rem;
	border-bottom: 3px double #fff;
	padding: 0 0.2rem;
}
.musicList ul{
	overflow-y: auto;
	height: 4.8rem;
}
.musicList ul li{
	padding: 0 0.2rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
}

.storyList{
	position: absolute;
	width: 100%;
	height: 6.4rem;
	background: #fff;
	z-index: 9999;
	left: 0;
	bottom: 0;
	transform: translateY(6.4rem);
	background: #517e9e;
	color: #fff;
}
.storyList >p{
	width: 100%;
	font-size: 0.3rem;
	line-height: 0.8rem;
	border-bottom: 3px double #fff;
	padding: 0 0.2rem;
}
.storyList ul{
	overflow-y: auto;
	height: 4.8rem;
}
.storyList ul li{
	padding: 0 0.2rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
}

/*下面是音量条的样式*/
.volumeIcon,.volumeIcon1{
	width: 100%;
	height: 0.8rem;
	background: #86b1ce;
	padding: 0 0.7rem;
}
.volumeIcon img{
	display: block;
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.2rem;
	margin-right: 0.3rem;
}

.volumeBar1,.volumeBar2{
	width: 4.2rem;
	float: left;
	height: 0.06rem;
	background: #fff;
	margin-top: 0.37rem;
	position: relative;
	border-radius: 4px;
}
.leftBtn1,.leftBtn2{
	position: absolute;
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	border-radius: 50%;
	left: 20px;
	top: -0.08rem;
	background: #2e4d66;
}
.leftVolBar1,.leftVolBar2{
	width: 20px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	background: #2e4d66;
	border-radius: 4px 0 0 4px;
}