<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>蛋玩智能机器人说明书</title>
	<meta name="wap-font-scale" content="no"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/description.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.10.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/description.js}"></script>
</head>
<body>
<div class="wrap">
	<div class="banner"><img th:src="@{/img/desBanner.png}"/></div>
	<ul class="ul">
		<li>
			<p class="show show1">设备说明<span class="rotate0"></span></p>
			<div class="hide">
				<div class="title title1"><p>设备正面</p></div>
				<img th:src="@{/img/desImg1.png}"/>
				<div class="title title1"><p>设备反面</p></div>
				<img th:src="@{/img/desImg2.png}"/>
				<div class="title title1"><p>按键</p></div>
				<img th:src="@{/img/desImg3.png}"/>
			</div>
		</li>
		<li>
			<p class="show show2">卡片使用说明<span class="rotate0"></span></p>
			<div class="hide">
				<div class="title titleClick"><span class="rotate0"></span><p>儿歌</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif1.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>故事</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif2.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>寻迹</p></div>
				<div class="titleClickShow">
					<img th:src="@{/img/gif3.gif}"/>
					<img th:src="@{/img/train.png}"/>
				</div>
				<div class="title titleClick"><span class="rotate0"></span><p>火眼晶晶</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif4.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>充能</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif5.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>运动</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif6.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>拉粑粑</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif7.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>修理</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif8.gif}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>呼呼</p></div>
				<div class="titleClickShow"><img th:src="@{/img/gif9.gif}"/></div>
			</div>
			
		</li>
		<li>
			<p class="show show3">联网绑定说明<span class="rotate0"></span></p>
			<div class="hide">
				<img th:src="@{/img/specification3.jpg}"/>
			</div>
		</li>
		<li>
			<p class="show show4">内容播放<span class="rotate0"></span></p>
			<div class="hide">
				<img th:src="@{/img/specification1.jpg}"/>
			</div>
		</li>
		<li>
			<p class="show show5">设备控制<span class="rotate0"></span></p>
			<div class="hide">
				<img th:src="@{/img/specification2.jpg}"/>
			</div>
		</li>
		<li>
			<p class="show show6">充电<span class="rotate0"></span></p>
			<div class="hide hide6">
				<img th:src="@{/img/charge1.png}"/>
				<img th:src="@{/img/charge2.png}"/>
				<img th:src="@{/img/charge3.png}"/>
				<img th:src="@{/img/charge4.png}"/>
			</div>
		</li>
	</ul>
</div>	
	
</body>
</html>