<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <script src="js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="css/choose.css?version=20180614"/>
  <title>全部设备</title>
</head>

<body>
  <input type="hidden" id="result" th:value='${success}' />
  <div class="content">
    <div class="contentBody">
      <div class="logohead">
        <div class="logoImg"></div>
        <span class="logoNick"></span>
      </div>
      <div class="eqbody">
        <ul class="ul">
        </ul>
	<a href="edu.html" class="back">返 回 首 页</a>
      </div>
    </div>
  </div>
  <canvas id="background"></canvas>
  <script src="js/pointLine.js"></script>
  <script src="js/choose.js?version=20180614"></script>
  <script>
  	console.log($('#result').val());
  </script>
</body>

</html>
