<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
    <title>微信扫码登录</title>
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{blockly/PCblockly_compressed.js?version=20180427}"></script>
    <script th:src="@{blockly/javascript_compressed.js}"></script>
    <script th:src="@{blockly/zh-hans.js}"></script>
    <script th:src="@{js/blocks.js?version=20180504}"></script>
    <script th:src="@{js/javascript.js?version=20180504}"></script>
    <link rel="stylesheet" th:href="@{css/PCindexTest.css?version=20180504}"/>
</head>

<body>
<a href ="http://www.eggtoy.com/eggtoy/wxLogin">微信扫码登录</a>
</body>
</html>