@charset "utf-8";


*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}
html{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    font-family:  "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-size: calc(100vw/6.4);
    /*1rem=100px*/
	/* font-size: -webkit-calc(100vw/6.4);
	font-size: -moz-calc(100vw/6.4); */
	-webkit-text-size-adjust: 100%;
	/*页面点击链接时会出现高亮框，此代码用来解决*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*在谷歌里面，小于12号字都会直接显示为12号字，此代码解除此问题*/
    -webkit-text-size-adjust: none;
}

.warn {
  position: absolute;
  top: 4.3rem;
  left: -0.6rem;
  font-size: 0.18rem;
  color: #fff;
  transform: rotate(90deg);
  z-index: 10;
}

.energy {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  width: 18px;
  height: 36px;
  background: url('../img/energy.png') no-repeat;
  background-position: 0 0;
  background-size: cover; 
  z-index: 20;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100% 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.swiper-pagination-bullet {
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    bottom: 1rem;  
}

.swiper-pagination-bullet:nth-child(1) {
    left: 5rem;
}

.swiper-pagination-bullet:nth-child(2) {
    left: 5.4rem;
}

.swiper-pagination-bullet:nth-child(3) {
    left: 5.8rem;
}




  /* page1 css 开始 */
.page1{
    background-image: url('../img/page1bg.png');
    background-size: 100% 100%;
    /* display: none; */
}

.page1 .wheel {
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-image: url('../img/wheel.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0.8rem;
    left: 0.9rem;
}

 

.page1 .direction {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-image: url('../img/direction.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 1.3rem;
    top: 1.3rem;
    z-index: 100;
}

.page1 .speed{
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    left: 0.9rem;
    bottom: -2.1rem;
    z-index: 10;
}

.page1 .speed .speedbg li {
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    left: 0;
    top: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.page1 .speed .speedbg li:nth-child(1) {
    background-image: url('../img/50.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page1 .speed .speedbg li:nth-child(2) {
    background-image: url('../img/100.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page1 .speed .speedbg li:nth-child(4) {
    background-image: url('../img/150.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page1 .speed .speedbg li:nth-child(3) {
    background-image: url('../img/200.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .page1 .speed span {
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.8rem;
    color: #48d7dc;
    transform: rotate(90deg);
    top: 1.25rem;
    left: 1rem;
    z-index: 1;
  }

  .page1 .speed .speedUl {
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
  }

  .page1 .speed .speedUl .list {
    width: 1.8rem;
    height: 1.8rem;
    float: left;
  }

  .page1 .speed .speedUl .list:nth-child(1) {
    transform: skewX(-25deg) translateX(0.2rem);
  }

  .page1 .speed .speedUl .list:nth-child(2) {
    transform: skewX(-25deg) translateX(0.2rem);
  }

  .page1 .speed .speedUl .list:nth-child(3) {
    transform: skewX(25deg) translateX(0.2rem);
  }

  .page1 .speed .speedUl .list:nth-child(4) {
    transform: skewX(25deg) translateX(0.2rem);
  }

  @media (min-width:600px) {
    /* 第一屏ipad */
    .page1 .wheel {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
    }

    .page1 .direction {
      width: 0.6rem;
      height: 0.6rem;
    }

    .page1 .speed{
      width: 2.4rem;
      height: 2.4rem;
      left: 0.9rem;
      bottom: -2.1rem;
      z-index: 10;
    }

    .page1 .speed .speedbg li {
      width: 2.4rem;
      height: 2.4rem;
    }

    .page1 .speed span {
      width: 0.8rem;
      height: 0.4rem;
      line-height: 0.4rem;
      font-size: 0.3rem;
      top: 1rem;
      left: 0.8rem;
    }

    .page1 .speed .speedUl {
      width: 2.4rem;
      height: 2.4rem;
    }
  
    .page1 .speed .speedUl .list {
      width: 1.2rem;
      height: 1.2rem;
    }

    /* 第一屏ipad 结束 */
  }
  /* page1 css 结束 */

  /* page2 css 开始 */

  .page2 {
    background-image: url('../img/page2bg.png');
    background-size: 100% 100%; 
  }

  .page2 .left-control {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1.4rem;
  }

  .page2 .left-control .color {
    position: relative;
    width: 3.4rem;
    height: 3.4rem;
    background-image: url('../img/color.png');
    background-size: 100% 100%;
    top: 0.5rem;
    left: 1.4rem;
    z-index: 100;
  }

  .page2 .left-control .color .innercircle {
    position: absolute;
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 50%;
    background: #fff;
    top: 1.63rem;
    left: 2.2rem;
  }

  #canvas1 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 10;
  }

  #canvas2 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 11;
  }

  .page2 .left-control .lightBar {
    position: absolute;
    width: 1.5rem;
    height: 3.4rem;
    top: 0.5rem;
    left: 0.2rem;
    z-index: 20;
  }



  .page2 .right-control {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 20;
  }

  .page2 .right-control .ul{
    width: 3rem;
    height: 4.8rem;
    margin-left: 1.3rem;
    padding: 0.2rem;
  }

  .page2 .right-control .ul .emojList {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-size: 100% 100%;
  }
  
  .shadow {
    animation: shadow 1.5s ease infinite;
    -webkit-animation: shadow 1.5s ease infinite;
  }

  @keyframes shadow {
    0% {box-shadow: 0 0 0 #fff}
    10% {box-shadow: 0 0 7px #fff}
    20% {box-shadow: 0 0 11px #fff}
    30% {box-shadow: 0 0 15px #fff}
    40% {box-shadow: 0 0 19px #fff}
    50% {box-shadow: 0 0 23px #fff}
    60% {box-shadow: 0 0 19px #fff}
    70% {box-shadow: 0 0 15px #fff}
    80% {box-shadow: 0 0 11px #fff}
    90% {box-shadow: 0 0 7px #fff}
    100% {box-shadow: 0 0 0px #fff}

  }

  .page2 .right-control .ul .emojList:nth-child(odd) {
    float: left;  
    margin: 0 0.3rem 0.6rem 0; 
  }

  .page2 .right-control .ul .emojList:nth-child(even) {
    float: right;
    margin: 0 0 0.6rem 0.3rem;
  }

  .page2 .right-control .ul .emojList:nth-child(1) {
    background-image: url('../img/emoj4.png');
  }

  .page2 .right-control .ul .emojList:nth-child(2) {
    background-image: url('../img/emoj1.png');
  }

  .page2 .right-control .ul .emojList:nth-child(3) {
    background-image: url('../img/emoj5.png'); 
  }

  .page2 .right-control .ul .emojList:nth-child(4) {
    background-image: url('../img/emoj2.png');
  }

  .page2 .right-control .ul .emojList:nth-child(5) {
    background-image: url('../img/emoj6.png'); 
  }

  .page2 .right-control .ul .emojList:nth-child(6) {
    background-image: url('../img/emoj3.png');
  }

  @media (min-width:600px) {
    /* 第二屏 ipad */
    .page2 .left-control {
      margin-bottom: 1rem;
    }

    .page2 .left-control .color {
      width: 2.4rem;
      height: 2.4rem;
    }    

    .page2 .left-control .color .innercircle {
      top: 1rem;
      left: 1.5rem;
    }

    .page2 .left-control .lightBar {
      width: 1.5rem;
      height: 2.5rem;
    }

    .page2 .right-control .ul{
      width: 2.4rem;
      height: 4rem;
      margin-left: 1rem;
    }

    .page2 .right-control .ul .emojList {
      width: 0.8rem;
      height: 0.8rem;
    }
    /* 第二屏 ipad 结束 */
  }  

  /* page2 css 结束 */

  /* page3 css */
  .page3 {
    background-image: url('../img/page3bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  .page3 .left-control {
    position: relative;
  }

  .page3 .power li{
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    left: 1.2rem;
    top: 1.2rem;
    z-index: 25;
  }

  .page3 .power .on {
    background-image: url('../img/on.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .page3 .spinBtn {
    position: relative;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/volume1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    top: 5.5rem;
    left: 1.2rem;
    z-index: 20;
  }

  .page3 .spinBtn .spinDot {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/spinDot.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }  

  #powerCanvas1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #powerCanvas2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
  }

  @media (min-width:600px) {
    /* 第三屏 ipad */
    .page3 .power li{
      width: 1.6rem;
      height: 1.6rem;
    }

    .page3 .spinBtn {
      width: 2.2rem;
      height: 2.2rem;
      transform: rotate(0deg);
      top: 4.8rem;
      left: 1.2rem;
    }

    .page3 .spinBtn .spinDot {
      width: 2.2rem;
      height: 2.2rem;
    } 
    /* 第三屏 ipad 结束 */
  }

  
  /* .page3 css 结束 */






