* {
  padding: 0;
  margin: 0;
}
html,body {
  width: 100%;
  height: 100%;
  font-family:  "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  font-size: calc(100vw/6.4);
  font-size: -webkit-calc(100vw/6.4);
  overflow: hidden;
}
body {
  background: url('../img/recordBg.png');
  background-size: 100% 100%;
  background-position: center;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

.recordUl {
  width: 100%;
  height: 100%;
  padding: 0% 8% 22%;
  box-sizing: border-box;
}

.recordUl li {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
}

.title {
  font-size: 0.45rem;
  color: #fff;
}

.liItem span {
  font-size: 0.7rem;
}

.liItem1 {
  line-height: 1.8rem;
}

.liItem {
  flex: 1;
  text-align: center;
  line-height: 2rem;
}

.ItemTitle {
  display: inline-block;
  font-size: 0.3rem;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TimeTitle, .meterTitle {
  color: rgb(200, 239, 250);
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(121, 244, 255)), to(rgb(0, 115, 248)));
}

.cardTitle {
  color: rgb(255, 255, 255);
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(255, 122, 249)), to(rgb(251, 16, 246)));
}

.gameToday {
  position: relative;
  display: inline-block;
  width: 1.1rem;
  height: 0.7rem;
  border-radius: 5px;
  background: linear-gradient(to bottom right, rgb(247, 108, 241), rgb(77, 153, 247));
  background: -webkit-linear-gradient(left top, rgb(247, 108, 241), rgb(77, 153, 247));
}

.circle {
  background: linear-gradient(rgb(247, 108, 241), rgb(77, 153, 247));
  background: -webkit-linear-gradient( rgb(247, 108, 241), rgb(77, 153, 247));
}

.gameTodyCircle {
  position: absolute;
  bottom: -0.3rem;
  right: -0.2rem;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border: 3px solid rgb(43, 21, 86);
  box-sizing: border-box;
  border-radius: 50%;
}

.gameTodyCircle .hand1 {
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 0.2rem;
  border-radius: 1px;
  margin-top: 0.1rem;
  margin-left: -0.04rem;
  background: rgb(43, 21, 86);
}

.gameTodyCircle .hand2 {
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 0.2rem;
  border-radius: 1px;
  margin-top: 0.2rem;
  margin-left: -0.14rem;
  transform: rotate(90deg); 
  background: rgb(43, 21, 86);
}

.TodygameNum {
  position: absolute;
  left: 0.08rem;
  font-size: 0.5rem;
  color: rgb(43, 21, 86);
  letter-spacing: -3px;
  line-height: 0.7rem;
}

.TodygameNum1 {
  position: absolute;
  display: inline-block;
  font-size: 0.1rem;
  color: rgb(43, 21, 86);
  transform: scale(0.65);
  line-height: 0.3rem;
  right: 0.01rem;
}

.totalBig {
  background: linear-gradient(rgb(251, 16, 153), rgb(49, 232, 245));
  background: -webkit-linear-gradient( rgb(251, 16, 153), rgb(49, 232, 245));
}

.totalTimeCircle {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.3rem;
  border-radius: 50%;
}

.totalTimeSmall {
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: rgb(43, 21, 86);
  text-align: center;
}

.totalgameNum {
  font-size: 0.3rem;
  color: #fff;
  line-height: 1rem;
}

.totalgameNum1 {
  font-size: 0.1rem;
  color: #fff;
  line-height: 0.2rem;
  margin-top: -0.2rem;
}

.cardtodayLa {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  margin-top: 0.3rem;
  background: linear-gradient(rgb(82, 234, 245), rgb(251, 16, 153));
  background: -webkit-linear-gradient( rgb(82, 234, 245), rgb(251, 16, 153));
}

.cardtodyLaBg {
  position: absolute;
  left: 0.05rem;
  top: 0.05rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: rgb(43, 21, 86);
}

.cardtodayMd {
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: linear-gradient(rgb(82, 234, 245), rgb(251, 16, 153));
  background: -webkit-linear-gradient( rgb(82, 234, 245), rgb(251, 16, 153));
}

.cardtodayMdBg {
  position: absolute;
  left: 0.05rem;
  top: 0.05rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(43, 21, 86);
}

.cardtodySq {
  position: absolute;
  top: 0.15rem;
  width: 1rem;
  height: 0.7rem;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(to bottom right, rgb(247, 108, 241), rgb(77, 153, 247));
  background: -webkit-linear-gradient(left top, rgb(247, 108, 241), rgb(77, 153, 247));
}

.cardTodayNum {
  font-size: 0.3rem;
  color: #111;
  line-height: 0.8rem;
}

.cardTodayNum1 {
  position: absolute;
  font-size: 0.1rem;
  color: #eee;
  line-height: 0.1rem;
  transform: scale(0.9);
  margin-top: 3px;
  margin-left: 3px;
}

.cardTotal {
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.8rem;
  border-radius: 50%;
  background: linear-gradient(rgb(251, 16, 153), rgb(49, 232, 245));
  background: -webkit-linear-gradient( rgb(251, 16, 153), rgb(49, 232, 245));
}

.totalcardNum {
  font-size: 0.3rem;
  color: #111;
  line-height: 1.3rem;
}

.totalcardNum1 {
  font-size: 0.1rem;
  color: #111;
  line-height: 1.3rem;
  margin-top: -1rem;
}

.metertoday {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.metertodayBg {
  position: absolute;
  width: 50%;
  height: 50%; 
  background: url('../img/recordMeter.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.metertodayBg1 {
  right: 0.15rem;
  bottom: 0.3rem;  
  transform: scale(0.8, 0.6);
}

.metertodayBg2 {
  top: 0.2rem;
  transform: scale(0.8, 0.6);
}

.metertodayNum {
  display: inline-block;
  font-size: 0.3rem;
  color: rgb(49, 232, 245);
  margin-left: -1rem;
}









