<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>常见问题</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/problem.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.10.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/problem.js}"></script>
</head>
<body>
	<img th:src="@{/img/problem.png}" class="bg"/>
	<div class="wrap">
		<div>
			<p class="question">aieggy无法开机怎么办？<span></span></p>
			<p class="answer">记得要<span>长按开机键3秒钟</span>哦，时间短了可是不行的，而且<span>电力不足</span>也是无法开机哒。</p>
		</div>
		<div>
			<p class="question">不能播放儿歌和故事怎么办？<span></span></p>
			<p class="answer">aieggy的<span>音量是不是被调到最低</span>了啊，如果声音太小的话播放的内容是听不见的哦。</p>
		</div>
		<div>
			<p class="question">寻迹失败怎么办？<span></span></p>
			<p class="answer">aieggy可是很傲娇的，它只喜欢<span>1.5-2.0cm的黑色轨道</span>，而且<span>要在白纸上画</span>哦。</p>
		</div>
		<div>
			<p class="question">如何充电？<span></span></p>
			<p class="answer">
				1.<span>充电时</span>耳朵灯为<span>白色</span>呼吸灯，<span>充满后</span>耳朵灯就会变成<span>绿色</span>的啦；<br/>
				2.一定要<span>关机后再充电</span>哦，而且要使用<span>正规厂家5V-2A</span>的电源适配器；<br/>
				3.充电时间<span>3~4小时</span>。
			</p>
		</div>
		<div>
			<p class="question">怎么联系客服？<span></span></p>
			<p class="answer">客服电话：027-62436187</p>
		</div>
	</div>
</body>
</html>