<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>第3步：识别二维码</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/wifi.css}"/>
</head>
<body>
	<div class="code">
		<img th:src="@{/img/code.jpg}"/>
	</div>
	<p class="tips">长按识别二维码，并选择“<span style="color:#1aac19">配置设备上网</span>”</p>
</body>
</html>

    
    