<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>aieggy&quot;蛋仔&quot;儿童智能机器人</title>
	<meta name="wap-font-scale" content="no"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/description.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.10.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/description.js}"></script>
</head>
<body>
<div class="wrap">
	<div class="banner"><img th:src="@{/img/desBanner.png}"/></div>
	<ul class="ul">
		<li>
			<p class="show show1">机器人简介<span class="rotate0">&lt;</span></p>
			<div class="hide">
				<img th:src="@{/img/abstract.png}"/>
			</div>
		</li>
		<li>
			<p class="show show2">联网绑定<span class="rotate0">&lt;</span></p>
			<div class="hide">
				<div class="title titleClick"><span class="rotate0"></span><p>联网绑定设备</p></div>
				<div class="titleClickShow"><img th:src="@{/img/bound.png}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>解绑设备</p></div>
				<div class="titleClickShow"><img th:src="@{/img/unbundle.png}"/></div>
			</div>
		</li>
		<li>
			<p class="show show3">基础卡片玩法<span class="rotate0">&lt;</span></p>
			<div class="hide">
				<div class="title titleClick"><span class="rotate0"></span><p>介绍</p></div>
				<div class="titleClickShow"><img th:src="@{/img/introduce.png}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>玩法</p></div>
				<div class="titleClickShow"><img th:src="@{/img/method.png}"/></div>	
			</div>
		</li>
		<li>
			<p class="show show4">&quot;蛋仔&quot;控制<span class="rotate0">&lt;</span></p>
			<div class="hide">
				<div class="title titleClick"><span class="rotate0"></span><p>内容播放</p></div>
				<div class="titleClickShow"><img th:src="@{/img/desPlay.png}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>遥控驾驶</p></div>
				<div class="titleClickShow"><img th:src="@{/img/desControl.png}"/></div>	
			</div>
		</li>
		<li>
			<p class="show show5">编程学习<span class="rotate0">&lt;</span></p>
			<div class="hide">
				<div class="title titleClick"><span class="rotate0"></span><p>卡片编程</p></div>
				<div class="titleClickShow"><img th:src="@{/img/cardCode.png}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>手机编程</p></div>
				<div class="titleClickShow"><img th:src="@{/img/phoneCode.png}"/></div>
				<div class="title titleClick"><span class="rotate0"></span><p>电脑编程</p></div>
				<div class="titleClickShow"><img th:src="@{/img/pcCode.png}"/></div>
			</div>
		</li>
		<li>
			<p class="show show6">充电<span class="rotate0">&lt;</span></p>
			<div class="hide hide6">
				<img th:src="@{/img/charge1.png}"/>
				<img th:src="@{/img/charge2.png}"/>
				<img th:src="@{/img/charge3.png}"/>
				<img th:src="@{/img/charge4.png}"/>
			</div>
		</li>
	</ul>
</div>	
</body>
</html>
