<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>登录</title>
    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{blockly/PCblockly_compressed.js?version=20180427}"></script>
    <script th:src="@{blockly/javascript_compressed.js}"></script>
    <script th:src="@{blockly/zh-hans.js}"></script>
    <script th:src="@{js/blocks.js?version=20180504}"></script>
    <script th:src="@{js/javascript.js?version=20180504}"></script>
    <link rel="stylesheet" th:href="@{css/PCindex.css?version=20180504}"/>
</head>

<body>
<form action="http://www.eggtoy.com/eggtoy/indexTest/login" method="post">
<input type="text" name ="phone_account"/>
<input type="password" name ="password"/>
<input type="hidden" name ="openid" th:value='${openid}' />
<input type="submit" value="登录并绑定微信"/>
</form>
</body>

</html>
