<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>第2步：开启网络配置</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/wifi.css}"/>
</head>
<body>
	<div class="img">
		<img th:src="@{/img/config.gif}"/>
	</div>
	<p class="notice notice1"><span></span>同时长按"－键"和"＋键"1秒钟进入网络配置模式</p>
	<a class="nextBtn openBtn">耳朵闪烁"蓝灯"</a>

<script>
var btn = document.querySelector('.nextBtn');
var notice = document.querySelector('.notice');
var choosed = document.querySelector('.notice span');
var state = false;
var timer;
notice.onclick = function () {
	state = true;
	choosed.style.background = '#1aac19';
	btn.setAttribute('href','wifi3')
}
btn.onclick = function () {
	clearTimeout(timer);
	if (!state) {
		notice.classList.add("noticeMove")
		timer = setTimeout(function () {notice.classList.remove("noticeMove")},500);
	}
}
</script>
</body>
</html>